/* Reset default margin and padding */
html, body, header, main, footer {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

h2 {
    text-align: center;
}

/* Basic styles for the header */
#header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Basic styles for the main content area */
main {
    justify-content: space-around;
    padding: 20px;
}

/* Basic styles for form container */
#content {
    flex: 1;
    margin-right: 20px;
    margin-left: 10px;
    text-align: center;
}

/* Form styles */
form {
    background-color: #45acc5;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
    padding-right: 10px;
    text-align: center;
}

/* Basic styling for template section */
#templates {
    text-align: center;
    margin-top: 20px;
}

/* Basic styling for template container */
.template-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

/* Basic styling for template choice */
.template-choice {
    cursor: pointer;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="file"],
input[type="button"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    display: block;
    width: 150px;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 auto;
}

#element-type{
    display: block;
    width: 300px;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 auto;
}

/* Basic styles for the preview container */
#preview {
    flex: 1;
}

#preview h2 {
    margin-bottom: 10px;
}

#landing-page-preview {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    min-height: 400px;
}

#generated-code {
    background-color: #222222;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    padding-left: 30%;
    min-height: 400px;
    color: forestgreen;
}

#warning{
    color: forestgreen;
    text-align: center;
    text-decoration: underline;
    background-color: #222222;
    padding: 20px;
    margin-top: 0cap;
}      

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
